<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block Title %} {% endblock %}</title>
</head>
<body>
    {% block Body %} {% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        <span>|
            <a href="{% url 'user:logout' %}">Logout</a> |
            <a href="{% url 'course:list' %}">Courses</a> |
        </span>
    </div>
</body>
</html>