<h1>Login</h1>

<form action="." method="post">{% csrf_token %}
    <span>Email: </span>
    <input type="email" name="email" id="email">
    <br><br>
    <span>Password: </span>
    <input type="password" name="password" id="password">
    <br><br>
    <input type="radio" name="user_type" id="student" value='student'><label for="student">student</label>
    <input type="radio" name="user_type" id="teacher" value='teacher'><label for="teacher">teacher</label>
    <br><br>
    {% if error %}
    <span style='color: red'>{{error}}</span>
    <br><br>
    {% endif %}
    <input type="submit" value="Login">
</form>







